<h1>About</h1>
<p> This is the official blog for the <%= link_to "Moonlight Techs Forums" , "http://moonlighttechsforums.com" %>.  This will be used to keep you informed of any updates or other happenings on going at the forums.</p>
<p>The blog is powered by a platform designed by <%= link_to "DarkKnight" , "http://moonlighttechsforums.com/index.php?action=profile;u=1" %> using Ruby on Rails.</p>
<p>If you find any bugs please report them to DarkKnight either via the PM system on the forums or by emailing darkknight [AT] moonlighttechsforums [dot] com</p>