<% if notice.present? %>
<p class="alert alert-info"><%= notice %></p>

<% end %>

<%= render 'post', post: @post %>
<script>
var idcomments_acct = 'c6285c8027543857a952ad873b2401c5';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>